
body{
    background-color: rgb(212, 54, 65);
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    min-height: 100vh;
    padding-bottom: 200px;
    align-items: center;
    border:.5px solid plum;
    box-shadow: 0 2px 100px black;
}

#main{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.musicPlayer{
    position: relative;
    align-items: center;
    display: relative;
    justify-content: center;
    margin-bottom: 200px;
    width: 600px;
    height: 500px;
}
#songControls{
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#positionControls{
    display: relative;
    position: relative;
    margin-top: 200px;
    height: 0px;
    justify-content: center;
    pointer-events: auto;
    width: 600px;
}

#volumeControls{
    margin-left: 500px;
    margin-top: 40px;
    position: absolute;
    align-items: center;
    display: center;

}

.demographics{
    position: flex;
    width: 500px;
}

.songInfo{
    position: absolute;
    margin-right: 125px;
    margin-top: 100px;
    width: 400px;
}
#volumeSlider{
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 125px;
    margin-left: 20px;
    justify-content: center;
    cursor: pointer;
}
#positionSlider{
    position: relative;
    width: 450px;
    cursor: pointer;
}
#commandButtons{
    justify-content: center;
    margin-right: 50px;
    display: flex;
}
#mute{
    position: relative;
    justify-content: center;
    cursor: pointer;
}
#autoplay{
    position: relative;
    justify-content: center;
    cursor: pointer;
}

#artistName{
    position:relative;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    font-size: 25px;
}

#songTitle{
    position: relative;
    align-items: center;
    display: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
}
#songCover{
    border: .5px solid white;
    border-radius: 0%;
    box-shadow: 0 10px 40px black;
}

.useBtn{
    width: 50px;
    height: 20px;
    border: 3px;
    border-radius: 12px;
    align-items: center;
    margin: 3px;
    cursor: pointer;
    border: .25px solid rgb(117, 14, 14);
    background-color: rgb(213, 70, 80);
    box-shadow: 0 10px 45px black;

    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}





