*{
    margin: 0 0 0 0;
    padding: 0;

}
#backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#backdropImg{
    border: 1px solid black;
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;
    filter: brightness(80%) blur(10px);
    
}
#wrapper{
    position: relative;
    height: 650px;
    width: 400px;
    box-shadow: 10px,40px,50px;
    z-index: auto;
}
#wrapper:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    filter: blur(10px);
    
}
#songCover{
    position: relative;
    width: 400px;
    height: 400px;
}
#image{
    width: 400px;
    box-shadow: 10px 3px 80px;
    border: 1px solid white;
}
#songInfo{
    position: absolute;
    width: 350px;
    height: 160px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    word-wrap: break-word;
    color: white;
    backdrop-filter: brightness(10%);

}
#songInfo #songName{
    font-size: 40px;
}
#songInfo #songArtist{
    font-size: 25px;
}

#volume{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0px;
    width: 50px;
    height: 160px;
    padding-top: 10px;
    color: white;
}
#volume input{
    -webkit-appearance: slider-vertical;
    height: 100px;
    cursor: pointer;
}
#controls{
    position: absolute;
    width: 400px;
    height: 100px;
    margin-top: 160px;
    font-family: 'Quicksand', sans-serif;
}
#positionControls{
    position: absolute;
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#positionSlider{
    width: 350px;
    cursor: pointer;
    border: 1px solid white;
}
#buttonControls{
    position: absolute;
    bottom: 0px;
    width: 400px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.abutton{
    width: 40px;
    height: 15px;
    cursor: pointer;
    margin: 10px;
    background-color: transparent;
    color: white;
}
#likedSongs .fa-heart{
    
}

@media screen and (max-width: 1000px){
    *{
        margin: 0 0 0 0;
        padding: 0;
    
    }
    #backdrop{
    }
    #backdropImg{
        
    }
    #wrapper{
        position: relative;
        height: 550px;
        width: 300px;
        box-shadow: 10px,40px,50px;
        z-index: auto;
    }
    #wrapper:before{
        content: "";
        position: absolute;
        
    }
    #songCover{
        width: 300px;
        height: 300px;
    }
    #image{
        width: 300px;
    }
    #songInfo{
        width: 265px;
        height: 150px;
    
    }
    #songInfo #songName{
        font-size: 35px;
    }
    #songInfo #songArtist{
        font-size: 25px;
    }
    
    #volume{
        right: 0px;
        width: 35px;
        height: 110px;
        padding-top: 40px;
        color: white;
    }
    #volume input{
        -webkit-appearance: slider-vertical;
        height: 100px;
    }
    #controls{
        width: 300px;
        height: 75px;
        margin-top: 150px;
    }
    #positionControls{
        width: 300px;
        height: 30px;
        margin-top: 15px;
    }
    #positionSlider{
        width: 275px;
    }
    #buttonControls{
        bottom: 0px;
        width: 300px;
        height: 30px;
        padding-bottom: 0px;
    }
    .abutton{
        width: 35px;
        height: 15px;
        cursor: pointer;
        margin: 10px;
    }
    #likedSongs .fa-heart{
        
    }
}


@media screen and (max-width: 700px){
    *{
        margin: 0 0 0 0;
        padding: 0;
    
    }
    #backdrop{
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #backdropImg{
        border: 1px solid black;
        position: absolute;
        z-index: -10;
        height: 100%;
        width: 100%;
        filter: brightness(80%) blur(10px);
        
    }
    #wrapper{
        position: relative;
        height: 450px;
        width: 200px;
        box-shadow: 10px,40px,50px;
        z-index: auto;
    }
    #wrapper:before{
        content: "";
        position: absolute;
        
    }
    #songCover{
        width: 200px;
        height: 200px;
    }
    #image{
        width: 200px;
    }
    #songInfo{
        width: 165px;
        height: 120px;
    
    }
    #songInfo #songName{
        font-size: 25px;
    }
    #songInfo #songArtist{
        font-size: 15px;
    }
    
    #volume{
        right: 0px;
        width: 35px;
        height: 100px;
        padding-top: 30px;
        color: white;
    }
    #volume input{
        -webkit-appearance: slider-vertical;
        height: 75px;
    }
    #controls{
        width: 200px;
        height: 50px;
        margin-top: 75px;
    }
    #positionControls{
        width: 200px;
        height: 100px;
    }
    #positionSlider{
        width: 175px;
    }
    #buttonControls{
        position: static;
        bottom: 0px;
        width: 200px;
        height: 30px;
        padding-bottom: 0px;
        padding-top: 70px;
    }
    .abutton{
        width: 30px;
        height: 15px;
        cursor: pointer;
        margin: 10px;
    }
    #likedSongs .fa-heart{
        
    }
}
